@model Producto

<h2>Entrada de Producto</h2>

<form method="post">
    <label>Cantidad:</label>
    <input type="number" name="cantidad" required />

    <button type="submit">Registrar Entrada</button>
</form>